html, body, header, hgroup, aside, article, ol, ul, li, p, section, nav, img, banner
{
    margin: 0px;
    padding: 0px;
}

html
{
    background-color: #aba;
}

body
{
    font: 100% Georgia, "Times New Roman", Times, serif;
    width: 960px;
    margin: auto;
    background-color: #7ba1a6;
    line-height: 1.4;
}

header
{
    width: 960px;
    height: 142px;
}

h2
{
    font-size: 2em;
}

#gradySymbol
{
    position: relative;
    left: 79px;
    bottom: 166px;
}

#gradyHeader
{
    position: relative;
    left: 118px;
    top: 15px;
}

#left
{
    background-color: #f9f9f9;
    width: 200px;
    height: 142px;
    float: left;
}

#right
{
    background-color: #d9bfa9;
    width: 760px;
    height: 142px;
    float: left;
}

section
{
    width: 960px;
    height: 534px;
    margin-top: 15px;
}

article
{
    background-color: #f9f9f9;
    width: 760px;
    height: 1534px;
    float: left;
}

aside
{
    background-color: #594b3f;
    width: 200px;
    height: 1534px;
    float: left;
}

    aside h2
    {
        color: #f9f9f9;
        margin-left: 10px;
    }

nav
{
    margin-top: 51px;
}

ul, li
{
    list-style-type: none;
}

    li a
    {
        display: block;
        width: 8em;
        background-color: #685341;
        color: #f9f9f9;
        font-size: 1.3em;
        padding: .2em 0 .2em 1em;
        text-decoration: none;
        border-bottom: 1px solid #f9f9f9;
    }

        li a:hover, li a:focus
        {
            background-color: #815f41;
        }

#current
{
    background: #4c3a2b;
}

article
{
    color: #594b3f;
}

    article img
    {
        margin-left: 100px;
    }

    article h3, article ul
    {
        margin-left: 100px;
    }

banner img
{
    margin-left: 50px;
}
