html
{
    height: 100%;
}

body
{
    background-color: #aba;
}

.container
{
    width: 960px;
    display: block;
    margin: 15px auto 0 auto;
    min-height: 500px;
    background-color: #fff;
}

.header
{
    height: 157px;
    float: left;
    width: 100%;
    background-color: #d9bfa9;
}

.header-voidsquare
{
    height: 142px;
    width: 25%;
    background-color: #fff;
    float: left;
}

.header-text-frame
{
    width: 75%;
    float: left;
    display: block;
    height: 142px;
}

.header-text-link
{
}

    .header-text-link:hover > .header-text-logo
    {
        opacity: 0.8;
    }

.header-text-logo
{
    opacity: 1;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    margin-left: 15%;
    margin-top: 17px;
}

.header-pedament
{
    background-color: #7ba1a6;
    height: 15px;
    width: 100%;
    float: left;
}


.header-gradylogo
{
    position: relative;
    left: 194px;
    top: -15px;
}

.header-gradylogo-ribbon
{
    -moz-transition: top 3s ease;
    -o-transition: top 3s ease;
    -webkit-transition: top 3s ease;
    transition: top 3s ease;
    top: -792px;
    position: absolute;
    left: 0;
}

.header-gradylogo-circle
{
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    top: 75px;
    left: -79px;
    position: absolute;
}


.content
{
    width: 100%;
    float: left;
    min-height: 800px;
    background-color: #fff;
    overflow: hidden;
    background-color: #594b3f;
}

.navigation
{
    float: left;
    width: 25%;
    height: 100%;
    min-height: 800px;
}

    .navigation > ul
    {
        display: block;
        margin-top: 45px;
    }

        .navigation > ul li
        {
            display: block;
            float: left;
            width: 100%;
            height: 34px;
        }

    .navigation a
    {
        font-family: Calibri;
        font-size: 18px;
        color: white;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: block;
        border-top: 1px solid #fff;
        background-color: #685341;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
    }

    .navigation li:last-child > a
    {
        border-bottom: 1px solid #fff;
    }


    .navigation a:hover
    {
        background-color: #786351;
    }

        .navigation a:hover > span
        {
            margin-left: 45px;
        }


    .navigation a > span
    {
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
        margin: 9px;
        display: block;
    }


.content-article
{
    float: left;
    display: block;
    width: 75%;
    background-color: #fff;
    min-height: 800px;
}


.img-float-left
{
    float: left;
    margin: 0px 15px 15px 0px;
}

.img-float-right
{
    float: right;
    margin: 0px 0px 15px 15px;
}

.img-full
{
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

#content-zone
{
    font-family: Calibri;
    margin: 40px 63px;
    width: auto;
}


    #content-zone h2
    {
        font-size: 32px;
        text-align: right;
        margin-bottom: 0.5em;
    }

    #content-zone h3
    {
        font-size: 24px;
        margin-bottom: 0.25em;
    }

    #content-zone p
    {
        line-height: 1.2;
        text-align: justify;
        margin-bottom: 1em;
        color: #444;
    }

    #content-zone ul
    {
        margin-bottom: 1em;
    }

article
{
    display: block;
    width: 100%;
    float: left;
}


.facilities-column-left
{
    width: 49%;
    float: left;
    margin-right: 1%;
}

.facilities-column-right
{
    width: 49%;
    float: left;
    margin-left: 1%;
}

@media only screen and (min-width:768px) and (max-width:979px) /*twitter bootstraps tablet to desktop*/
{
    .container
    {
        width: 750px;
    }

    .header-gradylogo
    {
    }

    .header-gradylogo-circle
    {
        left: -134px;
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }

    .header-gradylogo-ribbon
    {
        /*display: none;*/
        left: -54px;
        -moz-transition: none;
        -o-transition: none;
        -webkit-transition: none;
        transition: none;
    }
}


@media only screen and (max-width:767px) /*twitter bootstraps landscape phone to desktop/tablet*/
{
    .content-article
    {
        width: 100%;
    }

    .navigation
    {
        width: 100%;
        min-height: 100px;
    }

    .container
    {
        width: 98%;
        min-width: 280px;
    }

    .header-gradylogo
    {
        display: none;
    }

    .header-voidsquare
    {
        width: 0;
    }

    .header-text-frame
    {
        width: 100%;
    }


    .header-text-logo
    {
        height: 130px;
        width: 200px;
        margin: 10px auto;
        display: block;
    }

    .img-float-left
    {
        width: 100%;
        /*max-width:300px;*/
    }

    .img-float-right
    {
        width: 100%;
        /*max-width:300px;*/
    }

    #content-zone
    {
        margin: 10px 9px;
    }

    .navigation > ul
    {
        margin-top: 0px;
    }

    .facilities-column-left
    {
        width: 100%;
    }

    .facilities-column-right
    {
        width: 100%;
    }


}
